<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JPing</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="Ping host" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="glyphicon glyphicon-hand-down">  </span>
                </button>
                @Html.ActionLink("JPing", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="container" style="margin-bottom: 75px;">
        @RenderBody()
    </div>
    @* ---------- stopka zadokowana ---------- *@
    <div class="navbar navbar-default navbar-fixed-bottom" style="padding-bottom: 15px; padding-top: 15px;">
        <div class="container">
            <p class="text-center">
                <b>JPing - @DateTime.Now.Year</b>
            </p>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
